body{
    margin: 0;
    padding: 0;
    font-family: "SVN-Gilroy", sans-serif;
}
a{
    text-decoration: none;
}


/*---Pháº§n header---*/
.header{
    background-color: black;
    width: 100%;
    height: 50px;
    padding: 24px 0;
    z-index: 100;
    position: fixed;
}
.header-container{
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 20px;
}
.header-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-logo{
    height: 50px;
    width: 174px;
}
.header-logo a{
    width: 100%;
    height: 100%;
}
.header-logo img{
    width: 100%;
    height: 100%;
}
.header-nav{
    width: 794px;
    height: 40px;
}
.header-nav-list{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.header-nav-item{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.header-nav-item a{
    color: white;
}

.header-action{
    height: 40px;
    width: 350px;
}
.header-action-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-action-item i{
    font-size: 1.5rem;
    color: white;
}
.header-nav-dropdown{
    position: absolute;
    top: 80px;
    left: 300px;
    background-color: rgb(0, 0, 0);
    padding: 10px 23px 10px 0px;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
}
.danhmuc:hover .header-nav-dropdown{
    display: block;
}
.header-nav-dropdown-2{
    position: absolute;
    top: 80px;
    left: 600px;
    background-color: rgb(0, 0, 0);
    padding: 10px 23px 10px 0px;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
}
.thuonghieu:hover .header-nav-dropdown-2{
    display: block;
}
.thanh_ngang-danhmuc{
    position: absolute;
    top: 50px;
    left: 390px;
    width: 180px;
    height: 30px;
}
.thanh_ngang-danhmuc-2{
    position: absolute;
    top: 50px;
    left: 769px;
    width: 140px;
    height: 30px;
}
.header-action-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    z-index: 1999;
}
.header-action-register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
}

/*Content*/
.id{
    position: relative;
    top: 98px;
}
.product{
    padding: 50px 32px;
    margin: 0 200px;
}
.product_content{
    display: flex;
    gap: 25px;
}
.product_content-left{
    width: 40%;
}
.product_content-left-main{

}
.product_content-left-main img{
    width: 100%;
    height: 430px;
}
.product_content-left-main i{
    position: relative;
    top: -230px;
    font-size: 30px;
}
.product_content-left-main i:hover{
    cursor: pointer;
}
.fa-angle-right{
    position: relative;
    left: 334px;
}
.product_content-left-help{

}
.product_content-left-help img{
    width: 100px;
    height: 100px;
}
.product_content-right{
    width: 60%;
}
.product_inf-text h1{
    margin: 0;
}
.product_inf-text-price{
    font-size: 2.6rem;
}
.product_inf-text-ram{
    margin-left: 10px;
    display: flex;
    gap: 15px;
}
.product_inf-text-ram-btn{
    transform: translateY(10px);
}
.product_inf-text-ram-btn button{
    width: 60px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
.product_inf-text-ram-btn button.active{
    background-color: #f3f2f2;
    border: 1.6px solid black;
}
.product_inf-text-number{
    margin-left: 10px;
    display: flex;
    gap: 20px;
}
.product__quantity{
    height: 30px;
    width: 90px;
    transform: translateY(11px);
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 50px;
}
.product_inf-text-done{
    margin-top: 20px;
    margin-left: 10px;
}
.product_inf-text-done-identify{
    height: 50px;
    width: 140px;
    border-radius: 50px;
    background-color: #000;
    margin-right: 15px;
}
.product_inf-text-done-identify span{
    font-size: 1.2rem;
    color: white;
}
.product_inf-text-done-cart{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #ffffff;
    margin-right: 15px;
}
.product_inf-text-done-cart span{
    font-size: 1.2rem;
    color: black;
}
/*footer*/
.footer{
    
    width: 100%;
    height: 450px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}
.footer_contain h3{
    color: white;
    padding-top: 30px;
}
.footer_contain ul{
    padding: 0;
}
.footer_contain li{
    margin-top: 15px;
}
.footer_contain a{
    color: white;
}