* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 200vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/banner_1.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-box {
  background: rgba(15, 15, 20, 0.9);
  padding: 40px;
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 200, 255, 0.3);
  border: 1px solid rgba(0, 200, 255, 0.2);
}

.login-box h1 {
  text-align: center;
  color: #00c8ff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #ccc;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  color: #aaa;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 6px;
  border: none;
  background: #1e1e2a;
  color: #fff;
  outline: none;
}

.input-group input:focus {
  border: 1px solid #00c8ff;
  box-shadow: 0 0 8px #00c8ff;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #00c8ff, #aa57e1);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px #00c8ff;
}

.extra {
  margin-top: 20px;
  text-align: end;
  font-size: 14px;
  color: #aaa;
}

.extra a {
  color: #00c8ff;
  text-decoration: none;
}

.extra a:hover {
  text-decoration: underline;
}
