.header-action-login:hover{
    background-color: rgb(179, 179, 179);
    color: rgb(255, 255, 255);
    z-index: 999;
}
.header-action-register:hover{
    background-color: rgb(179, 179, 179);
    color: rgb(255, 255, 255);
}
.product_inf-text-done-identify:hover{
    background-color: rgb(179, 179, 179);
    color: rgb(255, 255, 255);
}
.product_inf-text-done-cart:hover{
    background-color: rgb(179, 179, 179);
}
.product_inf-text-done-cart:hover span{
    color: rgb(255, 255, 255);
}
.header-nav-item a:hover{
    color: rgb(225, 31, 31);
}

.footer_contain a:hover{
    color: rgb(225, 31, 31);
}

.product__item a:hover{
    color: rgb(225, 31, 31);
}

.heading-path a:hover{
    color: rgb(225, 31, 31);
}